body {
    display: flex; align-items: center;
    justify-content: center;
}
/* Bat */
.bat {
    width: 1px; height: 1px;
    transform: scale(4);
    position: relative;
    left: -128px;
    top: -128px;
    -webkit-animation: 0.4s bat steps(1) infinite;
        animation: 0.4s bat steps(1) infinite;
}